* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
}

.input-container {
    position: relative;
    width: 320px;
    left: 6px;
    margin-bottom: 6px;
}

input {
    width: 100%;
    height: 37.6px;
    width: 270px;
    padding: 14px 10px;
    padding-bottom: 2px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #b2b2b2;
}

label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  
    padding: 0 5px;
    color: #8e8e8e;
    font-size: 10px;
    pointer-events: none;
    transition: 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: 10px;
    transform: translateY(-50%) scale(0.85);
    font-size: 9px;
    color: #8e8e8e;
}
input:focus +label + #togglePassword,
input:not(:placeholder-shown) label + #togglePassword{
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}
#togglePassword {
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    background: transparent;
    border: transparent;
    color: transparent;
}
.hr-lines{

    position: relative;
  
    max-width: 500px;
  
    text-align: center;
  
  }
  
  
  
  .hr-lines:before{
  
    content:" ";
  
    height: 1px;
  
    width: 130px;
  
    background: #8e8e8e;
    opacity: 50%;
  
    display: block;
  
    position: absolute;
  
    top: 50%;
  
    right: 200;
  
  }
  
  
  
  .hr-lines:after{
  
    content:" ";
  
    height: 1px;
  
    width: 130px;
  
    background:#8e8e8e;
    opacity: 50%;
  
    display: block;
  
    position: absolute;
  
    top: 50%;
  
    right: 0;
  
  }
